.btn-container {
  display: inline-block;
  cursor: pointer;
  zoom: 0.9;
  -moz-transform: scale(0.9);

  .bar1,
  .bar2 {
    width: 3.6rem;
    height: 0.4rem;
    background-color: honeydew;
    margin: 0.7rem 0;
    transition: 0.4s;
    border-radius: 2.5rem;
  }
}

.is-active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px);
  transform: rotate(-45deg) translate(-3px, 6px);
}

.is-active .bar2 {
  -webkit-transform: rotate(45deg) translate(-2px, -5px);
  transform: rotate(45deg) translate(-2px, -5px);
}
