$mainColor: honeydew;
$colorBrightness: 80%;

li {
  padding: 0.5rem 2rem;
}

ul {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.menuButton {
  margin-top: 2rem;
  margin-right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

.menuIcons {
  width: 2.5rem;
}

.nav-link--active {
  filter: brightness(100%);
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;

  -webkit-transition: ease-in-out height 0.5s;
  -moz-transition: ease-in-out height 0.5s;
  transition: ease-in-out height 0.5s;
}

.navLinks {
  width: auto;
}
.navBar {
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  filter: brightness($colorBrightness);
  color: $mainColor;
  letter-spacing: 0.2rem;
}

.show-nav {
  height: 120px;
}

/* Computer size */
@media screen and (min-width: 833px) {
  .menuButton {
    display: none;
  }

  .navLinks {
    padding-right: 15rem;
    width: auto;
    float: right;
  }

  .navLinks ul li a:hover {
    filter: brightness(100%);
  }

  .links {
    margin: auto;
    height: auto;
    display: flex;
  }

  .navBar {
    padding-bottom: 0.2rem;
    margin-top: -0.2rem;
    height: 10vh;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin-right: 15%;
  }

  li {
    padding: 0 2rem;
  }
}
